body {
  font-family: "Roboto", sans-serif !important;
  font-weight: 500 !important;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: white;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  height: 72px;
  flex-wrap: nowrap;
  padding: 0 !important;
  margin: 0 !important;
}
ul li {
  text-decoration: none !important;
  flex-wrap: nowrap;
}

.hide {
  display: none !important;
}

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchQueryInput {
  width: 100%;
  height: 2.4rem;
  background: #eee;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 0.9rem;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.4rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}
